src/__tests__/
src/__mocks__/
src/**/*.test.*
src/**/*.spec.*
lib/typescript/src/__tests__/
lib/typescript/src/__mocks__/
lib/typescript/src/**/*.test.*
lib/typescript/src/**/*.spec.*
Package.swift
ios/CoreTests/**
android/src/test/**
